<div class="w-full px-4 py-4 seach-bar">
  <div class="flex flex-col sm:flex-row gap-3 w-full">
    <input
      type="text"
      placeholder="Search for a movie..."
      class="flex-1 w-full px-3 py-2 rounded border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 text-sm"
      [ngModel]="searchQuery()"
      (ngModelChange)="searchQuery.set($event)"
    />
  </div>
</div>

<div class="movies-container p-4">
  <div
    class="mat-elevation-z2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    <mat-card *ngFor="let movie of movies()" class="movie-card flex flex-col items-center text-center shadow hover:shadow-lg transition duration-300 p-4 rounded-lg">
      <img
        mat-card-image
        [src]="getImageUrl(movie.poster_path)"
        alt="{{ movie.title }}"
        class="object-cover rounded-t transition-transform duration-100 hover:scale-105"
      />
      <mat-card-header class="p-0 mb-2">
        <mat-card-title class="text-lg font-semibold text-gray-800">
          {{ movie.title }}
        </mat-card-title>
        <mat-card-subtitle class="text-sm text-gray-500">
          {{ movie.release_date | date : "mediumDate" }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="px-4 pb-4 text-sm text-gray-700">
        <p>
          {{
            movie.overview
              ? (movie.overview | slice : 0 : 240) + "…"
              : "No description available."
          }}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="primary">
          <!-- {{ isFavorite(movie.id) ? '★ Remove' : '☆ Favorite' }} -->
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!--Triggers IntersectionObserver -->
  <div #infiniteScrollTarget class="h-2 w-full"></div>
</div>
